<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <p>Hey <%= @user.name %>, thanks for signing up for Quotely!</p>
  </body>
</html>