<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <p>Hey <%= @user.name %>, there's a new Quote on Quotely!</p>
  </body>
</html>