<%= link_to '〈', quotes_path, :class => 'link-back' %>

<h1><%= @user.name %>'s Quotes:</h1>

 <div class="quotes-container">
  <% @user.quotes.reverse.each do |quote| %>
    <div class="quote">
      <span class="quote-mark">&ldquo;</span>
      <span class="quote-content"><%= quote.content %></span>
      <span class="quote-mark">&rdquo;</span>
      <br><br>
      <small>Created at <%= link_to quote.created_at, quote_path(quote) %></small>
    </div>
  <% end %>
</div>