/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/******************
Colors: 

Lighter gray: #F6F6F6 (for the body background)
Light gray: #D3D3D3 (for input borders)
Blue: #39A0ED (for inputs on focus)
Sea green: #13C4A3 (for buttons)
Dark Sea green: #02B392 (for buttons on focus)
******************/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F6F6;
  font-family: 'BretanRegular', sans-serif;
  cursor: default;
}

label {
  cursor: pointer;
  user-select: none;
}

header {
  text-align: right;
  padding: 10px;
}

small {
  font-size: 12px;
  font-style: italic;
}

input:not(.btn) {
  width: 200px;
  height: 20px;
}

textarea, input, .btn {
  padding: 10px;
  border: 1px solid #D3D3D3;
  margin: 2px 0;
  font-family: sans-serif;
}

textarea:focus, input:focus, .btn:focus {
  border: 1px solid #39A0ED;
  box-shadow: 0;
  outline: none;
}

.btn {
  background-color: #13C4A3;
  border: 1px solid #13C4A3;
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: #02B392;
}

a, .btn {
  color: white;
  text-decoration: none;
}

a:hover, a:focus, .btn:hover, .btn:focus {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  text-align: center;
  margin-top: 32px;
}